.item {
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin-bottom: 10px;
}

.itemName {
    font-weight: bold;
    padding: 10px;
}
.line{
    border: 1px solid #f4f4f4;
}
.deleteButton{
    float: right;
    border: none;
    padding: 12px 20px;
    background-color: #f7ca18 ;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-top: -10px;
    font-size: 14px;
}
.completed{
    text-decoration: line-through;
}